
$xs_mobile:'(max-width: 420px)';
$small_mobile:'(max-width: 576px)';
$large_mobile: '(max-width: 767px)';
$tab_device:'(max-width: 991px)';
$medium_device : '(max-width: 1199px)';
$big_screen:'(min-width: 1200px)';
