@import "variables_responsive";
/*Responsive xs_mobile*/
@media #{$xs_mobile} {
  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 1rem;
  }

  .about-img {
    width: 100%;
    height: auto;
  }

  .header {
    ul li:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }

  .banner {
    height: 25%;
  }

  .about-1980 {
    width: 100%;

    p {
      width: 100%;
      font-size: 0.9rem;
    }
  }

  .about-1990,
  .about-2005,
  .about-2017 {
    p {
      font-size: 0.9rem;
    }
  }

  .content {
    padding: 10%;

    .masterchef {
      .chef {
        .chunho {
          left: 0;
          width: 100%;

          p {
            font-size: 1rem;
          }
        }

        .icon {
          top: 85%;
        }
      }
    }
  }

  .discover {
    h1 {
      font-size: 2.6rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .footer {
    .footer_first {
      padding: 10%;
    }

    .contact-us,
    .opening {
      border-bottom: 1px solid white;
    }

    .info-baguetto,
    .opening {
      padding: 10% 0 !important;
    }

    .contact-us,
    .info-baguetto,
    .opening {
      p {
        font-size: 1rem;
      }
    }
  }
}
/*Responsive small_mobile*/
@media #{$small_mobile} {
  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 1rem;
  }

  .about-img {
    width: 100%;
    height: auto;
  }

  .header {
    ul li:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }

  .banner {
    height: 25%;
  }

  .about-1980 {
    width: 100%;

    p {
      width: 100%;
      font-size: 0.9rem;
    }
  }

  .about-1990,
  .about-2005,
  .about-2017 {
    p {
      font-size: 0.9rem;
    }
  }

  .content {
    padding: 10%;
  }

  .discover {
    h1 {
      font-size: 2.8rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .footer {
    .footer_first {
      padding: 10%;
    }

    .contact-us,
    .opening {
      border-bottom: 1px solid white;
    }

    .info-baguetto,
    .opening {
      padding: 10% 0 !important;
    }

    .contact-us,
    .info-baguetto,
    .opening {
      p {
        font-size: 1rem;
      }
    }
  }
}
/*Responsive large_mobile*/
@media #{$large_mobile} {
  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 1rem;
  }

  .about-img {
    width: 100%;
    height: auto;
  }

  .header {
    ul li:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }

  .banner {
    height: 35%;
  }

  .about-1980 {
    width: 100%;

    p {
      width: 100%;
      font-size: 0.9rem;
    }
  }

  .about-1990,
  .about-2005,
  .about-2017 {
    p {
      font-size: 0.9rem;
    }
  }

  .content {}

  .discover {}

  .footer {
    .footer_first {
      padding: 10%;
    }

    .contact-us,
    .opening {
      border-bottom: 1px solid white;
    }

    .info-baguetto,
    .opening {
      padding: 10% 0 !important;
    }

    .contact-us,
    .info-baguetto,
    .opening {
      p {
        font-size: 1rem;
      }
    }
  }
}
/*Responsive tab_device*/
@media #{$tab_device} {
  .header {
    ul li:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }
}
/*Responsive medium_device*/
@media #{$medium_device} {
  h1 {
      font-size: 3rem;
  }
  a{
      font-size: 1.1rem;
  }
  p {
    font-size: 1.4rem;
  }

  .about-img {
    width: 100%;
    height: auto;
  }

  .header {
    ul li:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }

  .banner {
  height: 45%;
  }

  .about-1980 {
    width: 100%;
    p {
      width: 100%;
      font-size: 1.4rem;
    }
  }
  .about-1990,
  .about-2005,
  .about-2017 {
    width: 100%;
    p {
      width: 100%;
      font-size: 1.4rem;
    }
  }

  .footer {
    .footer_first {
      padding: 10%;
    .contact-us,
    .info-baguetto,
    .opening {
      p {
        font-size: 1rem;
      }
    }
  }
}
}
/*Responsive big_screen*/
@media #{$big_screen} {
  body{
    max-width: 1920px;
    margin: 0 auto;
  }
}
