// @import "variables_responsive";
// body{
//    @media #{$big_screen} {
//     max-width: 1920px;
//     margin: 0 auto;
//   }
// }
// h1 {
//     @media #{$xs_mobile} {
//     font-size: 2.2rem;
//   }
//    @media #{$small_mobile} {
//     font-size: 2.2rem;
//   }
//    @media #{$large_mobile} {
//     font-size: 2.2rem;
//   }
//    @media #{$tab_device} {
//       font-size: 3rem;
//   }
// }
// a{
//    @media #{$tab_device} {
//       font-size: 1.1rem;
//   }
// }
// p {
//    @media #{$xs_mobile} {
//     font-size: 0.9rem;
//   }
//    @media #{$small_mobile} {
//     font-size: 0.9rem;
//   }
//    @media #{$large_mobile} {
//     font-size: 0.9rem;
//   }
//    @media #{$tab_device} {
//     font-size: 0.9rem;
//   }
//    @media #{$medium_device} {
//     font-size: 1.4rem;
//   }
// }
//
// h3 {
//    @media #{$xs_mobile} {
//     font-size: 1rem;
//   }
//    @media #{$small_mobile} {
//     font-size: 1rem;
//   }
//    @media #{$large_mobile} {
//     font-size: 1rem;
//   }
// }
//
// .about-img {
//    @media #{$xs_mobile} {
//     width: 100%;
//     height: auto;
//   }
//    @media #{$small_mobile} {
//     width: 100%;
//     height: auto;
//   }
//    @media #{$large_mobile} {
//     width: 100%;
//     height: auto;
//   }
//    @media #{$tab_device} {
//     width: 100%;
//     height: auto;
//   }
//    @media #{$medium_device} {
//     width: 100%;
//     height: auto;
//   }
// }
//
// .header {
//    @media #{$xs_mobile} {
//     ul li:not(:last-child) {
//       border-bottom: 1px solid white;
//     }
//   }
//    @media #{$small_mobile} {
//     ul li:not(:last-child) {
//       border-bottom: 1px solid white;
//     }
//   }
//    @media #{$large_mobile} {
//     ul li:not(:last-child) {
//       border-bottom: 1px solid white;
//     }
//   }
//    @media #{$tab_device} {
//     ul li:not(:last-child) {
//       border-bottom: 1px solid white;
//     }
//   }
// }
//
// .banner {
//    @media #{$xs_mobile} {
//     height: 25%;
//   }
//    @media #{$small_mobile} {
//     height: 25%;
//   }
//    @media #{$large_mobile} {
//     height: 35%;
//   }
//    @media #{$tab_device} {
//     height: 45%;
//   }
// }
//
// .about-1980 {
//    @media #{$xs_mobile} {
//     width: 100%;
//
//     p {
//       width: 100%;
//       font-size: 0.9rem;
//     }
//   }
//    @media #{$small_mobile} {
//     width: 100%;
//
//     p {
//       width: 100%;
//       font-size: 0.9rem;
//     }
//   }
//    @media #{$large_mobile} {
//     width: 100%;
//
//     p {
//       width: 100%;
//       font-size: 0.9rem;
//     }
//   }
//    @media #{$tab_device} {
//     width: 100%;
//
//     p {
//       width: 100%;
//       font-size: 0.9rem;
//     }
//   }
//    @media #{$medium_device} {
//     width: 100%;
//     p {
//       width: 100%;
//       font-size: 1.4rem;
//     }
//   }
//
// }
//
// .about-1990,
// .about-2005,
// .about-2017 {
//    @media #{$xs_mobile} {
//     p {
//       font-size: 0.9rem;
//     }
//   }
//    @media #{$small_mobile} {
//     p {
//       font-size: 0.9rem;
//     }
//   }
//    @media #{$large_mobile} {
//     p {
//       font-size: 0.9rem;
//     }
//   }
//    @media #{$tab_device} {
//     p {
//       font-size: 0.9rem;
//     }
//   }
//    @media #{$medium_device} {
//     width: 100%;
//     p {
//       width: 100%;
//       font-size: 1.4rem;
//     }
//   }
// }
// .content{
//   @media #{$xs_mobile}{
//     padding: 10%;
//   }
//   .masterchef{
//     .chef{
//       .chunho{
//         left: 0;
//         width: 100%;
//         p{
//           font-size: 1rem;
//         }
//       }
//       .icon{
//         top: 85%;
//       }
//     }
//   }
// }
// .discover{
//   @media #{$xs_mobile}{
//     h1{
//       font-size: 2.6rem;
//     }
//     p{
//       font-size: 1rem;
//     }
//   }
// }
// .footer {
//    @media #{$xs_mobile} {
//      .footer_first{
//        padding: 10%;
//      }
//     .contact-us,
//     .opening {
//       border-bottom: 1px solid white;
//     }
//
//     .info-baguetto,
//     .opening {
//       padding: 10% 0 !important;
//     }
//     .contact-us,
//     .opening,.info-baguetto{
//       p{
//         font-size: 1rem;
//       }
//     }
//   }
//    @media #{$small_mobile} {
//      .footer_first{
//        padding: 10%;
//      }
//     .contact-us,
//     .opening {
//       border-bottom: 1px solid white;
//     }
//
//     .info-baguetto,
//     .opening {
//       padding: 10% 0 !important;
//     }
//     .contact-us,
//     .opening,.info-baguetto{
//       p{
//         font-size: 1rem;
//       }
//     }
//   }
//    @media #{$large_mobile} {
//      .footer_first{
//        padding: 10%;
//      }
//      .contact-us,
//      .opening {
//        border-bottom: 1px solid white;
//      }
//      .info-baguetto,
//      .opening {
//        padding: 10% 0 !important;
//      }
//     .contact-us,
//     .opening,.info-baguetto{
//       p{
//         font-size: 1rem;
//       }
//     }
//   }
//    @media #{$tab_device} {
//      .footer_first{
//        padding: 10%;
//      }
//     .contact-us,
//     .opening,.info-baguetto{
//       p{
//         font-size: 1rem;
//       }
//     }
//   }
//    @media #{$medium_device} {
//     .contact-us,
//     .opening,.info-baguetto{
//       p{
//         font-size: 1rem;
//       }
//     }
//   }
// }
// --------------------------------------------------
@import "variables_responsive";
/*Responsive xs_mobile*/
@media #{$xs_mobile} {
  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 1rem;
  }

  .about-img {
    width: 100%;
    height: auto;
  }

  .header {
    ul li:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }

  .banner {
    height: 25%;
  }

  .about-1980 {
    width: 100%;

    p {
      width: 100%;
      font-size: 0.9rem;
    }
  }

  .about-1990,
  .about-2005,
  .about-2017 {
    p {
      font-size: 0.9rem;
    }
  }

  .content {
    padding: 10%;

    .masterchef {
      .chef {
        .chunho {
          left: 0;
          width: 100%;

          p {
            font-size: 1rem;
          }
        }

        .icon {
          top: 85%;
        }
      }
    }
  }

  .discover {
    h1 {
      font-size: 2.6rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .footer {
    .footer_first {
      padding: 10%;
    }

    .contact-us,
    .opening {
      border-bottom: 1px solid white;
    }

    .info-baguetto,
    .opening {
      padding: 10% 0 !important;
    }

    .contact-us,
    .info-baguetto,
    .opening {
      p {
        font-size: 1rem;
      }
    }
  }
}
/*Responsive small_mobile*/
@media #{$small_mobile} {
  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 1rem;
  }

  .about-img {
    width: 100%;
    height: auto;
  }

  .header {
    ul li:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }

  .banner {
    height: 25%;
  }

  .about-1980 {
    width: 100%;

    p {
      width: 100%;
      font-size: 0.9rem;
    }
  }

  .about-1990,
  .about-2005,
  .about-2017 {
    p {
      font-size: 0.9rem;
    }
  }

  .content {
    padding: 10%;
  }

  .discover {
    h1 {
      font-size: 2.8rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .footer {
    .footer_first {
      padding: 10%;
    }

    .contact-us,
    .opening {
      border-bottom: 1px solid white;
    }

    .info-baguetto,
    .opening {
      padding: 10% 0 !important;
    }

    .contact-us,
    .info-baguetto,
    .opening {
      p {
        font-size: 1rem;
      }
    }
  }
}
/*Responsive large_mobile*/
@media #{$large_mobile} {
  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 1rem;
  }

  .about-img {
    width: 100%;
    height: auto;
  }

  .header {
    ul li:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }

  .banner {
    height: 35%;
  }

  .about-1980 {
    width: 100%;

    p {
      width: 100%;
      font-size: 0.9rem;
    }
  }

  .about-1990,
  .about-2005,
  .about-2017 {
    p {
      font-size: 0.9rem;
    }
  }

  .content {}

  .discover {}

  .footer {
    .footer_first {
      padding: 10%;
    }

    .contact-us,
    .opening {
      border-bottom: 1px solid white;
    }

    .info-baguetto,
    .opening {
      padding: 10% 0 !important;
    }

    .contact-us,
    .info-baguetto,
    .opening {
      p {
        font-size: 1rem;
      }
    }
  }
}
/*Responsive tab_device*/
@media #{$tab_device} {
  .header {
    ul li:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }
}
/*Responsive medium_device*/
@media #{$medium_device} {
  h1 {
      font-size: 3rem;
  }
  a{
      font-size: 1.1rem;
  }
  p {
    font-size: 1.4rem;
  }

  .about-img {
    width: 100%;
    height: auto;
  }

  .header {
    ul li:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }

  .banner {
  height: 45%;
  }

  .about-1980 {
    width: 100%;
    p {
      width: 100%;
      font-size: 1.4rem;
    }
  }
  .about-1990,
  .about-2005,
  .about-2017 {
    width: 100%;
    p {
      width: 100%;
      font-size: 1.4rem;
    }
  }

  .footer {
    .footer_first {
      padding: 10%;
    .contact-us,
    .info-baguetto,
    .opening {
      p {
        font-size: 1rem;
      }
    }
  }
}
}
/*Responsive big_screen*/
@media #{$big_screen} {
  body{
    max-width: 1920px;
    margin: 0 auto;
  }
}
