@import "variables_responsive";
/*Responsive xs_mobile*/
@media #{$xs_mobile} {
  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 1rem;
  }

  .header {
    ul li:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }

  .banner {
    height: 25%;
  }

  .contact {
    padding: 10%;
  }

  .footer {
    .footer_first {
      padding: 10%;
    }

    .contact-us,
    .opening {
      border-bottom: 1px solid white;
    }

    .info-baguetto,
    .opening {
      padding: 10% 0 !important;
    }

    .contact-us,
    .info-baguetto,
    .opening {
      p {
        font-size: 1rem;
      }
    }
  }
}
/*Responsive small_mobile*/
@media #{$small_mobile} {
  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 1rem;
  }
  .banner {
    height: 25%;
  }

  .header {
    ul li:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }

  .contact {
    padding: 10%;
  }

  .footer {
    .footer_first {
      padding: 10%;
    }

    .contact-us,
    .opening {
      border-bottom: 1px solid white;
    }

    .info-baguetto,
    .opening {
      padding: 10% 0 !important;
    }

    .contact-us,
    .info-baguetto,
    .opening {
      p {
        font-size: 1rem;
      }
    }
  }
}
/*Responsive large_mobile*/
@media #{$large_mobile} {
  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 1rem;
  }

  .banner {
    height: 30%;
  }
  .header {
    ul li:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }

  .contact {
    padding: 10%;
  }

  .footer {
    .footer_first {
      padding: 10%;
    }

    .contact-us,
    .opening {
      border-bottom: 1px solid white;
    }

    .info-baguetto,
    .opening {
      padding: 10% 0 !important;
    }

    .contact-us,
    .info-baguetto,
    .opening {
      p {
        font-size: 1rem;
      }
    }
  }
}
/*Responsive tab_device*/
@media #{$tab_device} {
  .header {
    ul li:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }
  .banner {
    height: 40%;
  }
}
/*Responsive medium_device*/
@media #{$medium_device} {
  h1 {
      font-size: 3rem;
  }
  a{
      font-size: 1.1rem;
  }
  p {
    font-size: 1.4rem;
  }
  
  .banner {
  height: 50%;
  }

  .footer {
    .footer_first {
      padding: 10%;
    .contact-us,
    .info-baguetto,
    .opening {
      p {
        font-size: 1rem;
      }
    }
  }
}
}
/*Responsive big_screen*/
@media #{$big_screen} {
  body{
    max-width: 1920px;
    margin: 0 auto;
  }
}
