/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  h1 {
    font-size: 30px;
  }

  .banner {
    width: 100%;
    height: 130px;
    background-size: 100%;
  }
  .header ul li a {
    border-bottom: 1px solid white;
  }
  .gallery {
    padding: 20px 0px;
  }

  .filter ul li {
    display: block;
    margin-bottom: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .list-gallery ul li {
    width: 80%;
    display: block;
    margin: 0px 0px 15px 40px;
  }

  .contact-us, .opening {
    padding: 15px 0;
    border-bottom: 1px solid black;
  }

  .info-baguetto {
    margin-top: 12px;
    padding: 0px 0px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .banner {
    width: 100%;
    height: 235px;
    background-size: 100%;
  }
  .header ul li a {
    border-bottom: 1px solid white;
  }
  h1 {
    font-size: 30px;
  }

  .gallery {
    padding: 20px 0px;
  }
  .filter{
    margin-bottom: 25px;
  }
  .filter ul li {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 10px;
    width: auto;
    margin: 10px 5px 10px 0;
  }

  .filter ul li a {
    font-size: 15px;
  }

  .list-gallery ul li {
    width: 40%;
    display: block;
    margin: 0px 0px 15px 40px;
  }

  .contact-us, .opening {
    padding: 15px 0;
    border-bottom: 1px solid black;
  }

  .info-baguetto {
    margin-top: 12px;
    padding: 0px 0px;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .banner {
    width: 100%;
    height: 130px;
    background-size: 100%;
  }
  .header ul li a {
    border-bottom: 1px solid white;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .banner {
    width: 100%;
    height: 235px;
    background-size: 100%;
  }

  h1 {
    font-size: 30px;
  }
  .header ul li a {
    border-bottom: 1px solid white;
  }
  .gallery {
    padding: 20px 0px;
  }
  .filter{
    margin-bottom: 15px;
  }
  .filter ul li {
    display: inline-block;
    width: auto;
    margin: 10px 15px 10px 0;
  }
    .filter ul li a{
      font-size: 15px;
    }
    .list-gallery {
      padding: 0 8px 0 18px;
    }
  .contact-us, .opening {
    padding: 15px 0;
    border-bottom: 1px solid black;
  }

  .info-baguetto {
    margin-top: 12px;
    padding: 0px 0px;
  }
}
