/*Responsive xs_mobile*/
@media only screen and (min-width: 320px) and (max-width: 374px) {
  .header ul li:not(:last-child) {
    border-bottom: 1px solid white; }

  .banner {
    height: 25%; }

  .menu {
    padding: 10% 5%; }
    .menu .list-bakery {
      height: auto;
      max-width: 70%;
      margin: 4% auto; }
      .menu .list-bakery .img-bakery img {
        height: auto;
        width: 100%; }
      .menu .list-bakery .content-bakery {
        padding-left: 10%;
        height: auto;
        padding-bottom: 4%; }
        .menu .list-bakery .content-bakery h1 {
          font-size: 1.6rem; }
        .menu .list-bakery .content-bakery h4 {
          width: 100%;
          font-size: 1rem; }
    .menu .phantrang a {
      margin: 0 3% 1% 0;
      display: inline-block; }

  .footer .footer_first {
    padding: 5%; }
  .footer .contact-us,
  .footer .opening {
    border-bottom: 1px solid white; }
  .footer .info-baguetto,
  .footer .opening {
    padding: 5% 0 !important; }
  .footer .contact-us p,
  .footer .info-baguetto p,
  .footer .opening p {
    font-size: 1rem; } }
/*Responsive small_mobile*/
@media only screen and (min-width: 375px) and (max-width: 424px) {
  .header ul li:not(:last-child) {
    border-bottom: 1px solid white; }

  .banner {
    height: 30%; }

  .menu {
    padding: 10% 5%; }
    .menu .list-bakery {
      height: auto;
      max-width: 70%;
      margin: 4% auto; }
      .menu .list-bakery .img-bakery img {
        height: auto;
        width: 100%; }
      .menu .list-bakery .content-bakery {
        padding-left: 10%;
        height: auto;
        padding-bottom: 4%; }
        .menu .list-bakery .content-bakery h1 {
          font-size: 1.6rem; }
        .menu .list-bakery .content-bakery h4 {
          width: 100%;
          font-size: 1rem; }
    .menu .phantrang a {
      margin: 0 3% 1% 0;
      display: inline-block; }

  .footer .footer_first {
    padding: 5%; }
  .footer .contact-us,
  .footer .opening {
    border-bottom: 1px solid white; }
  .footer .info-baguetto,
  .footer .opening {
    padding: 5% 0 !important; }
  .footer .contact-us p,
  .footer .info-baguetto p,
  .footer .opening p {
    font-size: 1rem; } }
/*Responsive large_mobile*/
@media only screen and (min-width: 425px) and (max-width: 767px) {
  .header ul li:not(:last-child) {
    border-bottom: 1px solid white; }

  .banner {
    height: 35%; }

  .menu {
    padding: 10% 5%; }
    .menu .list-bakery {
      height: auto;
      max-width: 70%;
      margin: 2% auto; }
      .menu .list-bakery .img-bakery img {
        height: auto;
        width: 100%; }
      .menu .list-bakery .content-bakery {
        padding-left: 10%;
        height: auto;
        padding-bottom: 4%; }
        .menu .list-bakery .content-bakery h4 {
          width: 100%; }
    .menu .phantrang a {
      margin-right: 0;
      display: inline-block; }

  .footer .footer_first {
    padding: 5%; }
  .footer .contact-us,
  .footer .opening {
    border-bottom: 1px solid white; }
  .footer .info-baguetto,
  .footer .opening {
    padding: 5% 0 !important; }
  .footer .contact-us p,
  .footer .info-baguetto p,
  .footer .opening p {
    font-size: 1rem; } }
/*Responsive tab_device*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header ul li:not(:last-child) {
    border-bottom: 1px solid white; }

  .banner {
    height: 55%; }

  .menu {
    padding: 10% 5%; }
    .menu .list-bakery {
      height: auto; }
      .menu .list-bakery .img-bakery {
        width: 100%; }
        .menu .list-bakery .img-bakery img {
          height: 100%;
          width: 100%; }
      .menu .list-bakery .content-bakery {
        height: 100%;
        padding: 0 3% 0 2%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-item-align: center;
            align-self: center; }
        .menu .list-bakery .content-bakery h1 {
          font-size: 1.6rem; }
        .menu .list-bakery .content-bakery h4 {
          font-size: 1rem; }
        .menu .list-bakery .content-bakery h6 {
          margin: 0; } }
/*Responsive medium_device*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .banner {
    height: 60%; }

  .menu {
    padding: 10% 5%; }
    .menu .list-bakery {
      height: auto; }
      .menu .list-bakery .img-bakery {
        width: 100%; }
        .menu .list-bakery .img-bakery img {
          height: auto;
          width: 100%; }
      .menu .list-bakery .content-bakery {
        height: 100%;
        padding: 0 3% 0 2%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-item-align: center;
            align-self: center; } }
/*Responsive big_screen*/
@media (min-width: 1200px) {
  body {
    max-width: 1920px;
    margin: 0 auto; }

  .menudam {
    max-width: 1920px; }

    .list-bakery {
       overflow: hidden; }
       .list-bakery .img-bakery {
         width: 100%; }
         .list-bakery .img-bakery img {
          max-width: 100%;
           max-height: 350px; } }
