@media (min-width: 1200px) {
  body {
    max-width: 1920px;
    margin: 0 auto; } }

@media (max-width: 420px) {
  h1 {
    font-size: 2.2rem; } }
@media (max-width: 576px) {
  h1 {
    font-size: 2.2rem; } }
@media (max-width: 767px) {
  h1 {
    font-size: 2.2rem; } }
@media (max-width: 991px) {
  h1 {
    font-size: 3rem; } }

@media (max-width: 991px) {
  a {
    font-size: 1.1rem; } }

@media (max-width: 420px) {
  p {
    font-size: 0.9rem; } }
@media (max-width: 576px) {
  p {
    font-size: 0.9rem; } }
@media (max-width: 767px) {
  p {
    font-size: 1.2rem; } }
@media (max-width: 991px) {
  p {
    font-size: 1.4rem; } }
@media (max-width: 1199px) {
  p {
    font-size: 1.4rem; } }

@media (max-width: 420px) {
  h3 {
    font-size: 1rem; } }
@media (max-width: 576px) {
  h3 {
    font-size: 1rem; } }
@media (max-width: 767px) {
  h3 {
    font-size: 1rem; } }

@media (max-width: 420px) {
  .about-img {
    width: 100%;
    height: auto; } }
@media (max-width: 576px) {
  .about-img {
    width: 100%;
    height: auto; } }
@media (max-width: 767px) {
  .about-img {
    width: 100%;
    height: auto; } }
@media (max-width: 991px) {
  .about-img {
    width: 100%;
    height: auto; } }
@media (max-width: 1199px) {
  .about-img {
    width: 100%;
    height: auto; } }

@media (max-width: 420px) {
  .header ul li:not(:last-child) {
    border-bottom: 1px solid white; } }
@media (max-width: 576px) {
  .header ul li:not(:last-child) {
    border-bottom: 1px solid white; } }
@media (max-width: 767px) {
  .header ul li:not(:last-child) {
    border-bottom: 1px solid white; } }
@media (max-width: 991px) {
  .header ul li:not(:last-child) {
    border-bottom: 1px solid white; } }

@media (max-width: 420px) {
  .banner {
    height: 25%; } }
@media (max-width: 576px) {
  .banner {
    height: 25%; } }
@media (max-width: 767px) {
  .banner {
    height: 35%; } }
@media (max-width: 991px) {
  .banner {
    height: 45%; } }

@media (max-width: 420px) {
  .about-1980 {
    width: 100%; }
    .about-1980 p {
      width: 100%;
      font-size: 0.9rem; } }
@media (max-width: 576px) {
  .about-1980 {
    width: 100%; }
    .about-1980 p {
      width: 100%;
      font-size: 0.9rem; } }
@media (max-width: 767px) {
  .about-1980 {
    width: 100%; }
    .about-1980 p {
      width: 100%;
      font-size: 1.2rem; } }
@media (max-width: 991px) {
  .about-1980 {
    width: 100%; }
    .about-1980 p {
      width: 100%;
      font-size: 1.3rem; } }
@media (max-width: 1199px) {
  .about-1980 {
    width: 100%; }
    .about-1980 p {
      width: 100%;
      font-size: 1.4rem; } }

@media (max-width: 420px) {
  .about-1990 p,
  .about-2005 p,
  .about-2017 p {
    font-size: 1rem; } }
@media (max-width: 576px) {
  .about-1990 p,
  .about-2005 p,
  .about-2017 p {
    font-size: 1rem; } }
@media (max-width: 767px) {
  .about-1990 p,
  .about-2005 p,
  .about-2017 p {
    font-size: 1.2rem; } }
@media (max-width: 1199px) {
  .about-1990,
  .about-2005,
  .about-2017 {
    width: 100%; }
    .about-1990 p,
    .about-2005 p,
    .about-2017 p {
      width: 100%;
      font-size: 1.4rem; } }

.content .masterchef .chef .chunho {
  left: 0;
  width: 100%; }
  .content .masterchef .chef .chunho p {
    font-size: 1rem; }
.content .masterchef .chef .icon {
  top: 85%; }

@media (max-width: 420px) {
  .footer .contact-us,
  .footer .opening {
    border-bottom: 1px solid white; }
  .footer .info-baguetto,
  .footer .opening {
    padding: 10% 0 !important; }
  .footer .contact-us p,
  .footer .opening p, .footer .info-baguetto p {
    font-size: 1rem; } }
@media (max-width: 576px) {
  .footer .contact-us,
  .footer .opening {
    border-bottom: 1px solid white; }
  .footer .info-baguetto,
  .footer .opening {
    padding: 10% 0 !important; }
  .footer .contact-us p,
  .footer .opening p, .footer .info-baguetto p {
    font-size: 1rem; } }
@media (max-width: 767px) {
  .footer .contact-us p,
  .footer .opening p, .footer .info-baguetto p {
    font-size: 1rem; } }
@media (max-width: 991px) {
  .footer .contact-us p,
  .footer .opening p, .footer .info-baguetto p {
    font-size: 1rem; } }
@media (max-width: 1199px) {
  .footer .contact-us p,
  .footer .opening p, .footer .info-baguetto p {
    font-size: 1rem; } }
